:root {
    --primary-color: #005f73;
    --secondary-color: #2a9d8f;
    --background-color: #f4f4f4;
    --text-color: #333;
    --shadow-color: rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

header {
    font-family: 'Arial', Helvetica, sans-serif;
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 1rem 0;
    box-shadow: 0 2px 5px var(--shadow-color);
}

header nav ul, footer {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

header nav ul li, footer p {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--background-color);
    /* font-weight: bold; */
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Increased indentation for list items */
main li {
    margin-left: 30px;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    border-radius: 10px;
}

footer {
    font-family:'Courier New', Courier, monospace
    font-size: smaller;
    color: var(--text-color);
    background-color: var(--shadow-color);
    padding: 1rem 0;
    box-shadow: 0 2px 5px var(--shadow-color);
}

/* Text alignment classes */
#leftAligned {
    text-align: left;
}

#centered {
    text-align: center;
}

.spaced {
    margin-top: 20px; /* Adjust the value to control the amount of spacing */
}

.responsive-image {
    max-width: 90%;
    height: auto;
}

