:root {
    --primary-color: #5E72E4;
    --secondary-color: #2DCE89;
    --background-color: #F4F5F7;
    --text-color: #32325D;
    --white: #FFFFFF;
    --shadow-color: rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

header, footer {
    color: var(--white);
    background-color: var(--primary-color);
    padding: 1rem 0;
    box-shadow: 0 2px 5px var(--shadow-color);
}

header nav ul, footer {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

header nav ul li, footer p {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Increased indentation for list items */
main li {
    margin-left: 30px;  /* Adjust as needed for desired indentation */
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0 2px 5px var(--shadow-color);
    border-radius: 10px;
}

@media (max-width: 800px) {
    main {
        max-width: 95%;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    main {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 0.5rem;
    }
}

/* Text alignment classes */
#leftAligned {
    text-align: left;
}

#centered {
    text-align: center;
}

.spaced {
    margin-top: 20px; /* Adjust the value to control the amount of spacing */
}
