/* Main color scheme */
:root {
    --main-yellow: #f8c300;
    --light-gray: #b1b3b4;
    --black: black;
    --white: white;
}

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--black);
    background-color: var(--white);
}

header {
    background-color: var(--main-yellow);
    color: var(--white);
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--light-gray);
}

main {
    text-align: center;
    padding: 50px 20px;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: var(--light-gray);
    color: var(--black);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
